<footer class="footer-distributed">
    <div class="container2">
      <div class="row">
        <div class="column left">
          <div class="text">Contact</div>
          <div class="text">Tour-Thai@gmail.com</div>
          <div class="text">123-456-7890</div>
        </div>
        <div class="column right">
          <div class="text">Address</div>
          <div class="text">500 Ekachai Road</div>
          <div class="text">Bangkok, Thailand</div>
        </div>
      </div>
    </div>
    <div class="by">©2020 by KS.Plunchyy & NJ.Sky</div>
  </footer>
</body>
</html>