<%- include("partials/header2") %>

<!-- <script type="text/javascript" src="js/login.js" defer></script> -->

<style>
/*nav bar*/
.box1 {
    width: 90%;
    margin: auto;
    }

li a {
    display: block;
    color: black;
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  .buttonlogin {
  float: right;
}
li a:hover {
    color: #2ECC71;
    } 

/*footer*/
.footer-distributed{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Oswald;
    font-size: 15px;
    margin-top: 0px;
    }
    
.container2{
    margin: auto;
    padding: 20px;
    }
  
.column {
    width: 50%;
    float: left;
    }
  
.left {
    text-align: center;
    }

.right{
    text-align: center;
    }
  
.by{
    margin-top: 5px;
    background-color:#aaa;
    text-align: center;
    font-family: Oswald;
    padding: 7px;
    }

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #34495E  ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#283747   ; 
}


/*content*/
/*menuubar*/
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Oswald";
    outline: none;
    border: none;
  }
.box2 {
  background-image: url("messageImage_1586493383111.jpg");
    width: 90%;
    height: 727px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  /*login*/
.align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 130px;
 }

.card {
  height: 100%;
  height: 446px;
  width: 396px;
  background:#bbbb;
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.2s ;
 }

.extend {
  max-height: 480%;
 }

.head {
  width: 100%;
  display: flex;
  height: 72px;
  border-bottom: 1px solid #34495E;
  justify-content: space-between;
 }

.head a{
  height: 100%;
  padding: 0 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #34495E;
  font-size:20px;
  font-weight:500;
 }

  .head .selected {
     position: relative;
     color: #D35400;
     font-weight:700;
 }


 .head .selected:after {
     position: absolute;
     content: "";
     bottom: 0;
     left: 0;
     height: 5px;
     width: 100%;
     background: #D35400;
     border-radius: 99px 99px 0 0;
 }

.tabs {
  height: calc(100% - 72px);
  display: flex;
 }

form { 
  width: 100%;
  height: 100%;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inputs2 {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: center;
}

.input {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.input input {
  width: 100%;
  font-size: 17px;
  background:white;
  border-radius: 8px;
  padding: 16px 18px 16px 51px;
  color: black;
  opacity: 1;
}

.input img {
  width: 16px;
  position: absolute;
  left: 19px;
}

.checkbox {
  height: 10px;
  display: flex;
  align-items: center;
	position: relative;
	cursor: pointer;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkbox span {
	display: flex;
	align-items: center;
	color: #34495E;
	font-size: 16px;
	user-select: none;
}

.checkbox span:before {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 6px;
	margin-right: 16px;
  background-color: white;
  opacity:0.6; 
}

.checkbox:hover input ~ span:before {
  background-color: white;
  opacity:0.8;
}

.checkbox input:checked ~ span:before {
	background-image: url("checked2.png");
  background-size: cover;
  opacity: 1;
}

.regis {
	display: block;
  background: #F4D03F;
	padding: 14px 52px;
	border-radius: 12px;
	color: #935116;
	font-weight: 700;
	font-size: 21px;
  cursor: pointer;
  margin-bottom: 40px;
}

.regis:hover {
    background-color: #F1C40F;
  }

  @media only screen and (max-width: 1024px) {
  li a{
    font-size: 30px;
  }
  .box2{
    height: 1110px;
  }
  .footer-distributed{
    font-size: 20px;
  }
  .align {
  padding-top: 320px;
 }
}

@media only screen and (max-width: 768px) {
  li a {
    font-size: 20px;
    }
  .box1{
    width: auto;
  }
  .box2{
    width: auto;
        height: 834px;
    }
  .footer-distributed{
    font-size: 15px;
  }
  .align {
    padding-top: 190px;
 }
}

@media only screen and (max-width: 425px) {
  .box2{
    width: auto;
    height: 632px;
    }
  .align {
    padding-top: 95px;
 }
 .card{
    width: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .box2{
    width: auto;
    height: 625px;
    }
  .card{
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .box2{
    width: auto;
    height: 525px;
    }
  .card{
    width: 280px;
  }
  .align {
    padding-top: 40px;
 }
}

</style>
<div class="box2">
    <div class="align">
		<div class="card">
			<div class="head">
        <div></div>
				<a id="login"  href="/admin">Login</a>
				<a id="register" class="selected" href="/admin/signup">Register</a>
				<div></div>
			</div>
            <form class="register" action="/admin/signup" method="POST">
						<div class="input">
							<input placeholder="Username" type="text" name="username">
							<img src="/user.svg">
						</div>
						<div class="input">
							<input placeholder="Password" type="password" name="password">
							<img src="/pass.svg">
						</div>
					</div>
					<button class="regis">Register</button>
				</form>
			</div>
		</div>
    </div>
    </div>
    <%- include("partials/footer") %>