<%- include("partials/header") %>

<script type="text/javascript" src="js/promotion.js" defer></script>
    
<style>
/*nav bar*/
.box1 {
    width: 90%;
    margin: auto;
    }

li a {
    display: block;
    color: black;
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  .buttonlogin {
  float: right;
}
li a:hover {
    color: #2ECC71;
    }
/*content*/
.box2 {
    width: 90%;
    height: 700px;
    margin: auto;
    }
/*slide show*/
.mySlides {display: none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer;}
.w3-badge {height:13px;width:13px;padding:0;}




/*footer*/
.footer-distributed{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Oswald;
    font-size: 15px;
    margin-top: 0px;
    }
    
.container2{
    margin: auto;
    padding: 20px;
    }
  
.column {
    width: 50%;
    float: left;
    }
  
.left {
    text-align: center;
    }

.right{
    text-align: center;
    }
  
.by{
    margin-top: 5px;
    background-color:#aaa;
    text-align: center;
    font-family: Oswald;
    padding: 7px;
    }

/* scrollbar */
/* width */
::-webkit-scrollbar {
width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #34495E  ; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:#283747   ; 
}
    </style>
    <div class="box2">
      <div class="w3-content w3-display-container" style="max-width:100%">
        <img class="mySlides" src="promo2-3.jpg" style="width:100%">
        <img class="mySlides" src="promo2-1.jpg" style="width:100%">
        <img class="mySlides" src="promo2-2.jpg" style="width:100%">

            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            </div>
      </div>
    </div>
    <%- include("partials/footer") %>