<%- include("partials/header") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="js/search.js" defer></script>
<style>
/*nav bar*/
.box1 {
    width: 90%;
    margin: auto;
    }

li a {
    display:block;
    color: black;
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  
li a:hover {
    color: #2ECC71;
    }
/*content*/
.box2 {
    background-image: url("S__15843402.jpg");
    width: 90%;
    height: 727px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.find {
    color: #F1C40F;
    font-family: Oswald;
    font-size: 85px;
    text-align: center;
    padding-top: 190px;
    }

.where {
    color: white;
    font-family: Oswald;
    font-size: 30px;
    margin-left: 120px;
    }

/*container1*/
.container1 {
    width: 90%;
    height: 125px;
    border-radius: 10px;
    margin :  auto;
    background-color: #bbbb;
    padding: 10px;
    font-family: Oswald;
    font-size: 17px;
    }

.column1 {
  float: left;
  margin: 5px;
}
.a ,.b {
  width: 27%;
}
.c {
  width: 21%;
}
.d {
  width: 20.8%;
}

/* select */
select {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #616A6B ;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Oswald;
    font-size: 17px;
  }

.city {
    width:100%;
    opacity:1;   
  }

/* dd/mm/yy */
.date {
    position: relative;
    width: 100%;
    height: 53px;
    color: #616A6B;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #616A6B ;
    border-radius: 10px;
    font-size: 17px;
    box-sizing: border-box;
  }

/* button */
.search {
    width: 100%;
    background-color: #F4D03F;
    color: #935116;
    padding: 14px 20px;
    margin-top: 33px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Oswald;
    font-size: 17px;
    text-align: center;
  }
  
.search:hover {
    background-color: #F1C40F;
  }

/*footer*/
.footer-distributed{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Oswald;
    font-size: 15px;
    margin-top: 0px;
    }
    
.container2{
    margin: auto;
    padding: 20px;
    }
  
.column {
    width: 50%;
    float: left;
    }
  
.left {
    text-align: center;
    }

.right{
    text-align: center;
    }
  
.by{
    margin-top: 5px;
    background-color:#aaa;
    text-align: center;
    font-family: Oswald;
    padding: 7px;
    }

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #34495E  ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#283747   ; 
}

/*responsive*/
@media only screen and (max-width: 1024px) {
    .box2{
        height: 1110px;
    }
    .find {
        padding-top: 380px;
    }
    .a ,.b {
        width: 25%;
    }
    .c {
        width: 25%;
    }
    .d {
        width: 20%;
    }
    li a {
        font-size: 30px;
    }
    .footer-distributed{
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .box1 {
        width: 100%;
    }
    .box2{
        width: 100%;
        height: 834px;
    }
    
    .find {
        padding-top: 285px;
        font-size: 55px;
    }

    .where {
        margin-left: 65px;
        font-size: 25px;
    }

    .column1 {
        margin: 3px;
    }

    .container1 {
        height: 120px;
    }

    .city , .date , .search {
        width:100%;   
    }

    .a ,.b {
        width: 25%;
    }
    .c {
        width: 25%;
    }
    .d {
        width: 21%;
    }

    li a {
        font-size: 20px;
    }
    .footer-distributed{
        font-size: 15px;
    }
}

@media only screen and (max-width: 425px) {
    .find {
        padding-top: 60px;
        font-size: 45px;
    }
    .box2{
        width: 100%;
        height: 633px;
    }
    .a ,.b ,.c ,.d{
        width: 100%;
      }
      .container1 {
        height: 395px;
    }

    .city , .date , .search {
        width:100%;   
      }
}


@media only screen and (max-width: 375px) {
    .box1 {
        width: 100%;
    }
    .box2{
        width: 100%;
        height: 624px;
    }
    
    .find {
        padding-top: 80px;
        font-size: 40px;
    }

    .where {
        margin-left: 20px;
        font-size: 17px;
    }

    .search {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .column1 {
        margin: 0px;
    }

    .a ,.b ,.c ,.d{
        width: 100%;
      }

    .container1 {
        height: 355px;
    }

    .city , .date , .search {
        width:100%;   
      }
  }

  @media only screen and (max-width: 320px) {
    .box2{
        width: 100%;
        height: 525px;
    }
    .find {
        padding-top: 38px;
        font-size: 35px;
    }
  }

</style>
<div class="box2">
  <h1 class="find">FIND YOUR NEXT TRIP</h1>
  <p class="where">Where would you like to go?</p>
   <form action="/" method="post">
  <div class="container1">
            <div class="column1 a">
              <label for="citye" class="text" id="from">From</label><br>
              <select class="city" name="city1" >
                  <!-- <option>Select Province</option>
                  <option>Ayutthaya</option> -->
                  <option>Bangkok</option>
                  <!-- <option>Chiang Mai</option>
                  <option>Chonburi</option>
                  <option>Krabi</option> -->
              </select>
            </div>
            <div class="column1 b">
              <label for="citye" class="text" id="to">To</label><br>
              <select class="city" name="city2" >
                  <!-- <option>Select Province</option> -->
                  <option>Ayutthaya</option>
                  <!-- <option>Bangkok</option>
                  <option>Chiang Mai</option>
                  <option>Chonburi</option>
                  <option>Krabi</option> -->
              </select>
            </div>
            <div class="column1 c">
              <label>When</label><br>
              <input id="today" class="date" type="date">
            </div>
            <div class="column1 d">
              <!-- <a href="/index"> -->
                <button class="search" type="submit" value='Submit'>Search</button>
              <!-- </a> -->
            </div>
    </div>
  </form>
</div>

<%- include("partials/footer") %>