<%- include("partials/header") %>
        <script type="text/javascript" src="js/ta5.js" defer></script>

<style>
 /*slide show*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

/*nav bar*/
.box1 {
    width: 90%;
    margin: auto;
    }

li a {
    display: block;
    color: black;
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  .buttonlogin {
  float: right;
}
li a:hover {
    color: #2ECC71;
    } 

/*content*/
.box2 {
    width: 90%;
    height: 700px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
/* text */
.minibox {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 30px;
  font-family: Oswald;
}

.indent  { 
  padding-left: 30px;
  font-size: 17px; 
  padding-bottom: 30px;
  }
  
.bigtext {
  font-family: Oswald;
  text-align: center;
  font-size: 35px;
}

.headtext {
  font-size: 25px;
  margin-bottom: 15px;
}

/* booking */
.booking {
width: 30%;
background-color: #F4D03F;
color: #935116;
padding: 14px 20px;
margin-left: auto;
margin-right: auto;
display: block;
border: none;
border-radius: 12px;
cursor: pointer;
font-family: Oswald;
font-size: 17px;
text-align: center;

}

.booking:hover {
background-color: #F1C40F;
}

/*footer*/
.footer-distributed{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Oswald;
    font-size: 15px;
    margin-top: 0px;
    }
    
.container2{
    margin: auto;
    padding: 20px;
    }
  
.column {
    width: 50%;
    float: left;
    }
  
.left {
    text-align: center;
    }

.right{
    text-align: center;
    }
  
.by{
    margin-top: 5px;
    background-color:#aaa;
    text-align: center;
    font-family: Oswald;
    padding: 7px;
    }

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #34495E  ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#283747   ; 
}

/*responsive*/
@media only screen and (max-width: 1024px) {
  li a{
    font-size: 30px;
  }
  .box2{
    height: 452px;
  }
  .minibox{
    width: 900px;
  }
  .footer-distributed{
    font-size: 20px;
    width: auto;
  }
  .indent{
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  li a {
    font-size: 20px;
    }
  .box1{
    width: auto;
  }
  .box2{
    width: auto;
    height: 377px;
  }
  .bigtext{
    font-size: 30px;
  }
  .minibox{
    width: 700px;
  }
  .footer-distributed{
    font-size: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .box2{
    height: 208px;
  }
  .minibox{
    width: auto;
  }
  .bigtext{
    font-size: 18px;
  }
  .headtext{
    font-size: 18px;
  }
  .indent{
    font-size: 15px;
  }
  .booking {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .box2{
    height: 182px;
  }
  .bigtext{
    font-size: 17px;
  }
  .headtext{
    font-size: 16px;
  }
  .indent{
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .box2{
    height: 156px;
  }
  .bigtext{
    font-size: 14px;
  }
  .headtext{
    font-size: 14px;
  }
  .indent{
    font-size: 14px;
  }
}
</style>
<div class="box2">
      <div class="w3-content w3-display-container" style="max-width:100%">
        <img class="mySlides" src="/ta5-1.jpg" style="width:100%">
        <img class="mySlides" src="/ta5-2.jpg" style="width:100%">
        <img class="mySlides" src="/ta5-3.jpg" style="width:100%">

            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            </div>
      </div>
</div>
<div class="minibox">
  <div class="bigtext" id="placename">Maya Bay</div>
  <div class="bigtext" id="province">Krabi</div>
  <div class="headtext">Info</div>
  <div class="indent" id="info">Maya Bay is a stunningly beautiful bay that's sheltered by 100-metre high cliffs on 
    three sides. Inside the bay there are several beaches, most are small and some onlyexist at low tide. The main
    one is around 200 metres long with silky soft white sand, underwater colourful 
    coral and exotic fish in exceptionally clear water; the whole bay is one big reef.Maya Bay has become the 
    main tourist attraction of Phi Phi since The Beach was filmed here in 1999. It was always very popular 
    before the film but now people around the world who haven't even heard of Phi Phi have certainly heard of 
    Maya Bay.The best time to visit Maya Bay is between November and April during the high season when seas 
    are calm and access to the bay is easy. Rough seas from May to October may hinder access but rarely deny 
    entry.
  </div>
  <div class="headtext">How to go</div>
  <div class="indent" id="howtogo">First thing , you can go to Krabii by Airplane. Then you go to Klong Ji 
    Lard pier and take a Ferry to the Phi Phi Island. Maya Bay is in that island.
  </div>
  <div class="headtext">Activity</div>
  <div class="indent" id="activity">- Explore Maya bay and other bay in Phi Phi island<br>
                      - Visit View Point<br>
                      - Hiking on the cliff near Maya bay<br>
                      - Snorkeling
  </div>
  <div class="headtext">Avialabiltity</div>
       <div class="indent" id="availability">Always available , depends on Ferry schedule.</div>
       <a href="/">
       <input class="booking" value="Booking">
      </a>
</div>


    <%- include("partials/footer") %>